name                      = "ft-iac"
zone                      = "EU"
size                      = "small"
replicas                  = 1
project_id                = "xxxx"
deletion_protection       = false
domain                    = "ft-iac.xxxx.xx"
cloudflare_zone_id        = "xxxx"
docker_image              = "xxxx"
backups                   = false
availability_type         = "ZONAL"
notification_channels_url = "projects/xxxxx/notificationChannels/xxxxxx"
cloudflare_api_token	  = "xxxxxxxxxxxxxxxxxxxxx"